.car{
  overflow-y: hidden;
  background-color: black;
}
.navbar{
  background-color: rgb(50, 58, 63);
}
.nav-link:hover{
  background-color: black;
  color: white;
}
.top-rating{
  background-color: black;
}
.any{
  background-color: black;
  color: white;
  height: 100vh;
  overflow-x: hidden;
}